---
import { db, like, Book, Author } from "astro:db";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const authors = await db.select().from(Author);

    return authors.map((author) => ({
        params: { id: author.id },
        props: { author },
    }));
}

const { id } = Astro.params;
const { author } = Astro.props;

const books = await db.select().from(Book).where(like(Book.authorId, id));
---

<Layout>
    <!-- MAKE LAYOUT FOR AUTHOR PAGE!!!!!!!! -->
    <p>Author: {author.name}</p>

    <ul>
        {
            books.map(({ id, title }) => (
                <li>
                    <a href={`/books/${id}`}>{title}</a>
                </li>
            ))
        }
    </ul>

    <p>tier 1: list of their books</p>
    <p>tier 2: link to table of their books</p>
    <!-- add comment section??!! -->
</Layout>
