---
import { db, like, eq, Author } from "astro:db";
import { sql } from "drizzle-orm";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Authors from "./authors.astro";
const pageTitle = "Create author";

export const prerender = false;

const errors = { name: "" };
let message = "";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const name = data.get("name");

        if (typeof name !== "string") {
            errors.name += "ERROR: invalid author name.";
        }
        const hasErrors = Object.values(errors).some((msg) => msg);

        if (!hasErrors) {
            let exists = [];
            exists = await db
                .select()
                .from(Author)
                // like fails on "aaaaa", "aaa"
                // .where(like(Author.name, `%${name}`));
                // eq is case sensitive. fails on "aaaaa", "AAAAAA"
                // .where(eq(Author.name, `${name}`));
                .where(eq(Author.name, `${name}`).append(sql` COLLATE NOCASE`));

            if (exists.length !== 0) {
                message = "Author with this name already exists.";
            } else {
                await db.insert(Author).values({ name });
                message = "Author added successfully.";
            }
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<GlobalLayout>
    <p class="author-warning">
        This page is for managing author records. <br />
        Not to accessed by users.
    </p>

    <p>
        Note: Authors with the same name share the same id.<br />
        <small
            >The site owner isn't a certified librarian. It can't be helped.
            Sorry.</small
        >
    </p>

    <article>
        <form method="POST" autocomplete="off">
            <!-- client side validation attributes -->
            <label> Author: </label>
            <input
                type="text"
                name="name"
                required
                minlength="1"
                maxlength="100"
            />

            <button>Submit</button>
        </form>

        <p id="message">{message}</p>
    </article>
</GlobalLayout>

<style>
    .author-warning {
        color: firebrick;
    }

    form {
        display: grid;
        grid-template-columns: 70px auto;
        gap: 4px;
    }

    input {
        max-width: 200px;
    }

    button {
        margin-top: 10px;
        width: 68px;
    }
</style>
