---
import { db, Author, Book } from "astro:db";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Authors";

const authors = await db.select().from(Author);
---

<Layout pageTitle={pageTitle}>
    <ul>
        {
            authors.map(({ id, name }) => (
                <li>
                    <a href={`/authors/${id}`}>{name}</a>
                </li>
            ))
        }
    </ul>
</Layout>
