---
import { db, Author, Book } from "astro:db";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Authors";

const authors = await db.select().from(Author);
---

<Layout pageTitle={pageTitle}>
    <!-- LINK TO INDIVIDUAL AUTHOR PAGE -->
    <ul>
        {authors.map(({ name }) => <li>{name}</li>)}
    </ul>
</Layout>
