---
import { db, Author, Book } from "astro:db";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Books";

const books = await db.select().from(Book);
console.log(books);
---

<Layout pageTitle={pageTitle}>
    <ul>
        <!-- LINK TO INDIVIDUAL BOOK PAGE -->
        {books.map(({ _id, title }) => <li><a href={`/books/${_id}`}>{title}</a></li>)}
    </ul>
</Layout>
