---
import { db, Author, Book } from "astro:db";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Books";

const books = await db.select().from(Book);
---

<Layout pageTitle={pageTitle}>
    <ul>
        {
            books.map(({ id, title }) => (
                <li>
                    <a href={`/books/${id}`}>{title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
