---
import { db, like, eq, Author, Book } from "astro:db";
import GlobalLayout from "../layouts/GlobalLayout.astro";
const pageTitle = "Home";

export const prerender = false;

const books = await db.select().from(Book);
---

<GlobalLayout pageTitle={pageTitle}>
    <form action="/books" method="GET" autocomplete="off">
        <!-- <form action="/books"> -->
        <label>
            <input type="search" name="q" minlength="3" />
            <button>Search</button>
        </label>

        <fieldset>
            <legend>Search books in:</legend>
            <div>
                <!-- <input
                    type="radio"
                    id="column-all"
                    name="column"
                    value="all"
                    checked
                />
                <label for="seach-all">All</label> -->
                <input
                    type="radio"
                    id="column-title"
                    name="column"
                    value="title"
                    checked
                />
                <label for="seach-title">Title</label>
                <input
                    type="radio"
                    id="column-author"
                    name="column"
                    value="author"
                />
                <label for="seach-author">Author</label>
            </div>
        </fieldset>
    </form>

    <p>We have {books.length} books</p>
</GlobalLayout>
