---
import { db, like, eq, Author, Book } from "astro:db";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import SearchBar from "../components/SearchBar.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home";

export const prerender = false;
const books = await db.select().from(Book);
---

<GlobalLayout>
    <article>
        <SearchBar />
        <p>We have <strong>{books.length}</strong> books! Awesome!</p>
    </article>
</GlobalLayout>


<style>
</style>