---
// ONLY FOR TESTING
import { db, eq, like, Author, Book } from "astro:db";

export const prerender = false;

const search = Astro.url.searchParams.get("q");

const results = await db
    .select()
    .from(Book)
    .where(like(Book.title, `%${search}%`));
---

<ul>
    {
        results.map(({ title, id }) => (
            <li>
                {title} {id}
            </li>
        ))
    }
</ul>
