---
import { db, like, eq, Author, Book } from "astro:db";
import { sql } from "drizzle-orm";
import GlobalLayout from "../layouts/GlobalLayout.astro";
const pageTitle = "Upload book";

export const prerender = false;

const errors = { title: "", name: "", isbn: "" };
let message = "";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const title = data.get("title");
        const name = data.get("name");
        const isbn = data.get("isbn");

        // server side validation
        if (typeof title !== "string" || title.length < 1) {
            errors.title += "ERROR: invalid title.";
        }
        if (typeof name !== "string") {
            errors.name += "ERROR: invalid author name.";
        }
        const hasErrors = Object.values(errors).some((msg) => msg);
        if (!hasErrors) {
            // author lookup
            const lookup = await db
                .select()
                .from(Author)
                .where(like(Author.name, name));

            console.log(lookup);
            // IF LOOKUP EMPTY:
            if (lookup.length === 0) {
                await db.insert(Author).values({ name });
                // NEED TO GET ID AND INSERT WITH THE NEW AUTHOR'S NEW ID
            } else {
                const authorId = lookup.map((a) => a.id)[0];
                await db.insert(Book).values({ title, authorId, isbn });
            }
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<GlobalLayout pageTitle={pageTitle}>
    <p>
        Note: Authors with the same name share the same id.<br />
        <small
            >The site owner isn't a certified librarian. It can't be helped.
            Sorry.</small
        >
    </p>

    <!-- client side validation attributes -->
    <form method="POST">
        <label>
            Title:
            <input
                type="text"
                name="title"
                required
                minlength="1"
                maxlength="100"
            />
        </label>
        <label>
            Author:
            <input type="text" name="name" minlength="1" maxlength="100" />
        </label>
        <label>
            ISBN:
            <input type="text" name="isbn" />
        </label>

        <button>Upload</button>
    </form>

    <p id="message">{message}</p>
</GlobalLayout>

<style>
    form {
        display: grid;
    }
    button {
        width: 200px;
    }
</style>
