---
import { db, like, eq, Author, Book } from "astro:db";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Upload book";

export const prerender = false;

const errors = { title: "", name: "", isbn: "" };
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const title = data.get("title");
        const name = data.get("name");
        const isbn = data.get("isbn");

        // server side validation
        if (typeof title !== "string" || title.length < 1) {
            errors.title += "ERROR: invalid title.";
        }
        if (typeof name !== "string") {
            errors.name += "ERROR: invalid author name.";
        }
        const hasErrors = Object.values(errors).some((msg) => msg);
        if (!hasErrors) {
            // author lookup
            const lookup = await db
                .select()
                .from(Author)
                .where(like(Author.name, name));
            const authorId = lookup.map((a) => a.id)[0];

            await db.insert(Book).values({ title, authorId, isbn });
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout pageTitle={pageTitle}>
    <!-- client side validation attributes -->
    <form method="POST">
        <label>
            Title:
            <input type="text" name="title" required minlength="1" maxlength="100" />
        </label>
        <label>
            <!-- tier 1: if none, return error -->
            <!-- tier 2: if none, create new author automatically -->
            <!-- tier 3: asks if you would like to create author -->
            Author:
            <input type="text" name="name" minlength="1" maxlength="100" />
        </label>
        <label>
            ISBN:
            <input type="text" name="isbn" />
        </label>

        <!-- high diff: -->
        <!-- file upload -->
        <!-- image upload -->
        <button>Upload</button>
    </form>
</Layout>

<style>
    form {
        display: grid;
    }
    button {
        width: 200px;
    }
</style>
