---
const platform = "github";
const username = "knifecentipede";
---

<style>
    footer {
        font-size: 0.8rem;
        margin-top: 2rem;
        grid-row: 3;
        grid-column: 1/3;
        text-align: center;
    }
</style>

<footer>
    <p>Made by the incredible centipede<br />Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >
    </p>
    <p>
        Site icon by <a
        href={`https://icons8.com/icon/B3YdllfulKqm/book`}>Icons8</a>
    </p>
</footer>
